.header {
    margin: 10% 10% 2% 10%;
    padding: 10% 10% 2% 10%;
    font-family:"リュウミン R-KL";
}

.main {
    margin: 2% 10% 2% 10%;
    padding: 2% 10% 2% 10%;
    font-family:"リュウミン R-KL";
}

.footer {
    margin: 2% 10% 10% 10%;
    padding: 2% 10% 10% 10%;
    font-family:"リュウミン R-KL";
}

img.small {
    width: 50%;
    height: auto;
}

#diary {
    background-color: rgba(240, 235, 250, 0.5);
}

@media screen and (max-width: 1024px) {

.header {
    margin: 5% 5% 1% 5%;
    padding: 5% 5% 1% 5%;
    font-family:"リュウミン R-KL";
}

.main {
    margin: 1% 5% 1% 5%;
    padding: 1% 5% 1% 5%;
    font-family:"リュウミン R-KL";
}

.footer {
    margin: 1% 5% 5% 5%;
    padding: 1% 5% 5% 5%;
    font-family:"リュウミン R-KL";
}
    
img.small {
    width: 50%;
    height: auto;
}

#diary {
    background-color: rgba(245, 235, 245, 0.5);
}
    
}
