<!DOCTYPE html>
<html>
<head prefix="og: https://ogp.me/ns#">
    <title>{{ page.title }}</title>
    <script type="text/javascript" src="//typesquare.com/3/tsst/script/ja/typesquare.js?62a576d16cb04ec989642ffeac1e02e5" charset="utf-8"></script>
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <meta charset='utf-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ page.description }}"/>
    <meta property="og:url" content="https://misora100.github.io{{ page.url }}" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="{{ page.title }}" />
    <meta property="og:description" content="{{ page.description }}" />
    <meta property="og:site_name" content="金星のこととか" />
    <meta property="og:image" content="https://misora100.github.io/images/icon.jpg" />
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@misora100">
</head>

<body>
    <div class="header">
        <h1>{{ page.title }}</h1>
        <p style="text-align: right;">{{ page.description }}</p>
    </div>    
    
    <div class="main">
        {{ content }}
    </div>
    
    <div class="footer">
        <p><a href="https://misora100.github.io/index.html">トップページへ</a></p>
    </div>
</body>
</html>
